
.background-overlay {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
}
.privacy-policy .main-banner {
    background-image: url(../assets/images/png/privacy-policy.jpg);
}
.our-advantage-page .main-banner {
    background-image: url(../assets/images/png/accreditations-banner.webp) !important;
}
.privacy-policy .main-banner-title {
    bottom: 0;
    top: unset !important;
    width: unset !important;
}

.privacy-policy-content-section {
    padding-block: 100px;
}
.privacy-policy-content-section p {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0;
    /* text-align: center; */
    line-height: 1.5;
}
.privacy-policy-content-section p a {
    color: var(--red);
}
.privacy-policy-content-section h4 {
    font-size: 27px;
    color: var(--red);
    margin: 32px 0 8px;
    /* text-align: center; */
    line-height: 1.5;
    font-weight: bold;
}

@media (max-width: 1023px) {
    .privacy-policy-content-section {
        padding-block: 80px;
    }
}
@media (max-width: 767px) {
    .privacy-policy-content-section {
        padding-block: 60px;
    }
}
@media (max-width: 576px) {
    .privacy-policy-content-section {
        padding-block: 40px;
    }
    .privacy-policy-content-section p { 
        font-size: 14px;
    }
    .privacy-policy-content-section h4 {
        font-size: 20px;
    }
}